@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #18181b;
	color: #e5e7eb;
	text-align: center;
	font-family: "Pretendard Variable", Pretendard, -apple-system,
		BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
		"Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

header {
	text-align: center;
}

header h1 {
	font-family: "Londrina Solid", sans-serif;
	font-weight: 400;
	font-size: 3.5rem;
}

.movie_font {
	color: #d6143e;
}

hr {
	width: 80%;
	margin: 0 auto;
	border: 2px dotted #9ca3af;
}

form {
	width: 80%;
	margin: 50px auto;
	text-align: start;
}

.movie_create {
    font-size: 1.2rem;
    font-weight: bold;
}

.movie_create p {
    padding: 10px;
}

.movie_create input{
	background: #26262b;
	color: #e5e7eb;
	border: none;
    width: 40%;
    height: 30px;
    font-size: 1.1rem;
    padding: 5px;
    border-radius: 10px;
    padding: 5px;
}

.movie_create select {
	background: #26262b;
	color: #e5e7eb;
	border: none;
    width: 40%;
    height: 30px;
    font-size: 1.1rem;
    padding: 5px;
    border-radius: 10px;
    padding: 5px;
}

textarea {
	background: #26262b;
	color: #e5e7eb;
	border: none;
    width: 40%;
    height: 100px;
    border-radius: 10px;
    padding: 5px;
    font-size: 1.1rem;
}

.save {
	text-align: center;
}

.save input {
    font-family: "Londrina Solid", sans-serif;
    font-size: 1.2rem;
    margin-top: 30px;
    width: 100px;
    height: 50px;
    line-height: 1.2rem;
    text-decoration: none;
    background: #d6143e;
    color: #E5E7EB;
    border-radius: 20px;
    border: none;
}
