main {
	width: 90%;
	margin: 30px auto;
	text-align: center;
}

.sort-links {
    text-align: end;
    margin: 10px 0;
}

.sort-links a {
    margin: 0 10px;
    text-decoration: none;
}

.sort-links a:hover {
    color: lime;
}

main h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

main p {
    color: #888;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

main .idea_list {
	display: flex;
	justify-content: center; 
	flex-wrap: wrap; 
	gap: 20px; 
}

.idea {
	background: #161a22;
	width: calc(25% - 40px); 
	min-width: 250px; 
	height: 500px; 
	padding: 20px;
	border-radius: 10px; 
	box-sizing: border-box; 
    text-align: start;
}

.idea h3 {
    background: #161a22;
    margin: 15px 0;
    font-size: 1.5rem;
}
.idea h3 a  {
    text-decoration: none;
}

.idea p {
    margin: 10px 0;
    background: #161a22;
}

.idea img {
	width: 100% !important; 
	height: 200px; 
	object-fit: cover;
	border-radius: 5px;
    background: #161a22;
}

.pagination {
    width: 100%;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;             
    clear: both;            
    background: transparent !important;
}

.page-btn {
    padding: 8px 20px;
    border: 1px solid lime;  
    color: lime;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
    background: transparent !important;
}


.page-btn:hover {
    background-color: lime !important;
    color: #161A22 !important;
}

.page-btn.disabled {
    border-color: #444;
    color: #666;
    cursor: not-allowed;
}

.page-current {
    font-size: 1.2rem;
    font-weight: bold;
    color: lime;
    margin: 0 10px;
    background: transparent !important;
}

.image-container {
    position: relative;
    width: 100%;
    margin: 0 auto;  
}

.image-container a {
    text-decoration: none;
}

.star-detail {
    position: absolute; 
    top: 10px;        
    right: 10px;   
    font-size: 1.5rem;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.3); 
    border-radius: 5px;
    padding: 2px 5px;
    z-index: 10;    
}


.interest-num {
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: lime;
    background: transparent !important;
}

.interest-btn {
    background: #0F1115; 
    color: white;
    border: 1px solid #444;
    border-radius: 4px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.interest-btn:hover {
    border-color: lime;
    color: lime;
}

.interest-btn {
    padding: 0;
    line-height: 20px;
}