
main h2 {
    text-align: center;
    margin: 30px 0 20px 0;
    font-size: 2rem;
    background: transparent; 
}

form {
    max-width: 650px;
    margin: 0 auto 100px auto;
    background: #161A22; 
    padding: 50px;
    border-radius: 20px;
    border: 1px solid #333;
    display: flex;
    flex-direction: column;
}

form p {
    background: transparent; 
    margin-bottom: 10px;
    font-weight: bold;
    color: #AAA;
}

form input[name="title"], 
form input[type="number"], 
form textarea, 
form select {
    background: #0F1115; 
    border: 1px solid #444;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 30px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

form input:focus, form textarea:focus, form select:focus {
    border-color: lime;
}

form input[type="file"] {
    background: transparent;
    margin-bottom: 30px;
}

form div {
    background: transparent;
}

form input[type="submit"] {
    width: 100%;
    padding: 15px;
    background: transparent;
    border: 1px solid lime;
    color: lime;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

form input[type="submit"]:hover {
    background: lime; 
    color: #E6EAF2;
}