{% load static %} <!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			as="style"
			crossorigin
			href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css"
		/>
		<link rel="stylesheet" href="{% static 'css/devtool_create.css' %}" />
		<link rel="stylesheet" href="{% static 'css/reset.css' %}" />
		<title>My SW Idea Manage</title>
	</head>
	<body>
		<header>
			<h1>My <span>SW Idea</span> Manage</h1>
			<nav>
				<ul>
					<li>
						<a href="{% url 'ideas:idea_create' %}"
							>아이디어 등록</a
						>
					</li>
					<li>
						<a href="{% url 'ideas:idea_list' %}">아이디어 관리</a>
					</li>
					<li>
						<a href="{% url 'ideas:devtool_create' %}"
							>개발툴 등록</a
						>
					</li>
					<li>
						<a href="{% url 'ideas:devtool_list' %}">개발툴 관리</a>
					</li>
				</ul>
			</nav>
		</header>
		<hr />

		<main>
            <h2><span>Devtool</span> Register</h2>
			<form action="{% url 'ideas:devtool_create' %}" method="POST">
				{% csrf_token %}
				<div class="devtool_create">
					<p>
						이름 :
						<input type="text" name="name" />
					</p>
					<p>
						종류 :
						<input type="text" name="kind" />
					</p>
					<p>
						내용 :
						<textarea
							name="description"
							cols="30"
							rows="10"
						></textarea>
					</p>
				</div>

				<div class="save">
					<input type="submit" value="저장" />
				</div>
			</form>
		</main>
	</body>
</html>
